body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.hero {
  background: #3b6fa5;
  color: #000;
  padding: 50px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
}

#fechar {
  float: right;
  cursor: pointer;
}
